h1{
    font-size: 24px;
    margin: -10px 0 10px;
    width: 100%;
    max-width: 1000px;
    text-align: left;
}

form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 90%;
    max-width: 450px;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: 0 auto;
    gap: 15px;
}

form input{
    width: 80%;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    color: #573cf9;
    border: transparent solid 3px;

    -webkit-appearance: none;
    appearance: none;
}

form input::placeholder{
    opacity: 0.5;
}

form input:focus::placeholder{
    opacity: 0.85;
}

form input:focus{
    outline: none;
    border-color: #573cf9;
}

#saznaj{
    padding: 15px 45px;
    width: 100%;
    cursor: pointer;
    border: transparent 2px solid;
}

#saznaj:hover{
    background-color: #bfc3ff;
    color: #573cf9;
    border-color: #573cf9;
}

#disclaimer{
    font-size: 11px;
    width: 75%;
    padding: 0 15px;
    padding-top: 10px;
    text-align: left;
    border-top: #573cf9 1px solid;
    font-weight: normal;
}

#form-result{
    display: none;
    margin-top:1rem; 
    padding:1rem; 
    background-color: #d1fae5;
    color: #065f46;
}

#phone-preview{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

#phone-preview img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.segmented-control {
    display: inline-flex;
    overflow: hidden;
    background-color: #ffa127cc;
}

.segment {
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    opacity: 0.5;
    font-weight: normal;
    border: solid 2px transparent;
    white-space: nowrap;
    font-size: clamp(12px, 3.8vw, 18px);
}

.segment:hover {
    background-color: rgba(255,255,255,0.15);
}

/* Visual disabled style (very important for UX) */
.segmented-control.age-group {
    overflow: hidden;
    transition: all 0.15s ease-in-out;   /* all = max-height + opacity */
    max-height: 200px;                /* make this comfortably bigger than needed */
    opacity: 1;
}

.segmented-control.age-group.disabled {
    max-height: 0;
    opacity: 0;                       /* full fade = cleaner look */
    pointer-events: none;
    user-select: none;
    margin-bottom: -10px;
}

/* Selected state – this creates the yellow pill effect */
input[type="radio"]:checked + .segment {
    opacity: 1;
    font-weight: bold;
    border-color: #573cf9 ;
    background-color: #bfc3ff;
}

/* Hide the actual radio circles */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.after-form-panel{
    padding: 15px 3%;
    gap:15px;
}

.after-form-panel img{
    width: 20%;
}

.after-form-panel p{
    width: 80%;
}

.section-introduction{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

h2{
    margin-bottom: 20px;
}

.service-panel{
    width: 90%;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px 5%;
    font-weight: bold;
}

.service-panel-center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-panel-left{
    justify-content: left;
    text-align: left;
    gap: 20px;
}

.service-panel img{
    width: 50px;
    height: 50px;
    background-color: #8D6FBF;
}

.service-panel-collection{
    margin-bottom: 30px;
}

/* USERS */

.profile-info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    gap: 0px;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 70%;
}

.user-info img{
    background-color: transparent;
    max-width: none;
    max-height: 20px;
    width: 50%;
}

.user-review{
    font-weight: normal;
}


/* QUESTIONS */
.question {
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answer {
    margin-top: 20px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

details[open]{
    background-color: white;
    color: #573cf9;
}

details[open] .answer {
    max-height: 500px; /* Adjust based on your content */
    opacity: 1;
    margin-bottom: 10px; /* Add some space at the bottom */
}

details summary {
    list-style: none;
    outline: none;
    position: relative;
    padding-right: 30px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

details summary::-webkit-details-marker {
    display: none;
}

/* Add arrow icon */
details summary::after {
    content: '▶';
    position: absolute;
    right: 10px;
    font-size: 0.9rem;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

details[open] summary::after {
    transform: rotate(-90deg);
}

@media (min-width: 768px) { 

    #title-segment{
        height: 400px;
        padding-top: 50px;
    }

    h1{
        font-size: 40px;
        max-width: 500px;
        margin-top: 20px;
    }

    form{
        max-height: 350px;
        margin: 0;
        margin-left: 5%;
    }

    .service-panel{
        padding: 40px;
    }

    .service-panel-center{
        width: 24%;
        max-width: none;
    }

    .service-panel-left{
        width: 32%;
        max-width: none;
        margin: 0;
    }

    form input{
        width: 100%;
    }

    #phone-dialogue{
        margin-top: 100px;
        font-size: 24px;
        text-align: left;
    }

    #disclaimer{
        border: none;
        padding-top: 0;
    }

    
    #saznaj{
        width: 70%;
        padding: 15px 10px;
    }
}