


nav{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.page-loader{
    z-index: 99999;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #573cf9;
    position: fixed;
}

#phone-number{
    display: flex;
    flex-direction: row;
    background-color: #573cf9;
    color: white;
    height: 35px;
    border-radius: 25px;
    align-items: center;
    width: 150px;
    gap: 8px;
    margin-right: 15px;
    padding: 0 10px;          /* slightly bigger padding helps too */
    min-width: 157px;
}

#green-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4db964;
    
    min-width: 10px;
    min-height: 10px;
    display: inline-block;
    flex-shrink: 0;
}


#phone-number p{
    white-space: nowrap;
    font-feature-settings: "tnum";
    font-size: 14px;
}

#logo{
    max-height: 60px;
    max-width: 200px;
}

.row{
    justify-content: space-around;
}

/* POP UP */
.scroll-to-top {
    position: fixed;
    inset: 0;
    top: 0;
    margin: 0 auto;
    height: 40px;
    z-index: 1000;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    
    transition: 
        transform 0.35s ease,
        opacity 0.35s ease,
        visibility 0.35s ease;
    
    background-color: #573cf9;
    font-weight: bold;
    cursor: pointer;
    border-bottom: #ffa127 solid 1px;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-to-top *{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    padding: 3px 0;
}

.nav-hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
}

@media (min-width: 768px) {
}