iframe{
    display: block;
    width: 90%;
    height: 300px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 25px;
}

p{
    pointer-events: all;
}


a{
    text-decoration: none;
    font-weight: bold;
    color: #573cf9;
}