h1{
    color: #ffbc27;
    font-size: 38px;
    text-align: center;
}

h2{
    color: #ffbc27;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
}

p, ul, ol{
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
}

ul, ol{
    margin-left: 30px;
}

a{
    user-select: all;
    pointer-events: all;
    color: #ffbc27;
}

img{
    width: 100%;
    margin: 30px 0;
}

.contact-link, .contact-part{
    margin: 0;
    padding: 0;
    max-height: 40px;
}

blockquote{
    border-left: 5px #ffbc27 solid;
    padding: 0 10px;
}


@media (min-width: 768px) {
    h1{
        font-size: 48px;
    }
}
