h1 {
    color: #ffbc27;
    font-size: 38px;
    text-align: center;
}

h2 {
    color: #ffbc27;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
}

p, ul, ol {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
}

ul, ol {
    margin-left: 30px;
}

/* Svi linkovi su žuti, ali bez crte (za gumbe i navigaciju) */
a {
    color: #ffbc27 !important;
    text-decoration: none !important;
    font-weight: bold;
}

/* SAMO linkovi u tekstu dobivaju crtu i ostaju žuti */
p a, li a, blockquote a {
    color: #ffbc27 !important;
    text-decoration: underline !important;
}

/* Hover efekt - link pobijeli */
a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

img {
    width: 100%;
    margin: 30px 0;
}

.contact-link, .contact-part {
    margin: 0;
    padding: 0;
    max-height: 40px;
}

blockquote {
    border-left: 5px #ffbc27 solid;
    padding: 0 10px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 48px;
    }
}
