title: Osiguraj.hr
repository: Filip-Gale/osiguraj.hr

permalink: /blog/:title/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

plugins:
  - jekyll-sitemap
