<head>
    <link rel="stylesheet" href="css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer>

    <div id="footer-info" class="text-purple">

        <div class="footer-segment text-purple">
            <p class="card-title text-white">[Osiguraj.hr]</p>

            <p>Vaš pouzdan partner za najpovoljnije auto osiguranje. Brzo, jednostavno i digitalno.</p>
            <div id="socials">
                <a href="https://www.instagram.com/osiguraj_hr?igsh=aWFrbzRhZXBld2pt&utm_source=qr"> <img src="img/instagram.jpg" alt="instagram"> </a>
                <a href="https://web.facebook.com/profile.php?id=61586831552294"> <img src="img/facebook.jpg" alt="facebook"></a>
                <a href="https://www.linkedin.com/company/osigurajhr/"> <img src="img/linkedin.jpg" alt="linkedin"></a>
                <a href="https://www.tiktok.com/@osiguraj.hr?_r=1&_t=ZN-93EkOQL0w0U"> <img src="img/tiktok.jpg" alt="tiktok"></a>
            </div>
        </div>
        
        <div class="footer-segment text-purple">
            <p class="card-title text-white">Kontakt</p>
            <a href="https://www.google.com/maps/search/?api=1&query=Bo%C5%BEidarevi%C4%87eva+ulica+13%2C+10000+Zagreb%2C+Hrvatska" 
            target="_blank" 
            class="contact-link contact-part text-purple" 
            rel="noopener noreferrer"
            aria-label="Otvori Google Maps: Božidarevićeva ulica 13, 10000 Zagreb, Hrvatska">
                <img src="img/loaction.jpg" alt="location" aria-hidden="true">
                Božidarevićeva ulica 13, 10000 Zagreb, Hrvatska
            </a>
            <a href="tel:+38598813220" class="contact-link contact-part text-purple" >
                <img src="img/phone.jpg" alt="phone">
                +385 98 813 220
            </a>
            <a href="o-nama.html"  class="contact-link contact-part text-purple">
                <img src="img/health-footer.jpg" alt="phone">
                O nama
            </a>
        </div>
        
        <div class="footer-segment">
            <p class="card-title text-white">Povjerenje</p>
            <a href="https://www.hanfa.hr/registri/trziste-osiguranja/drustva-za-zastupanje-u-osiguranju/" class="contact-part round text-purple">
                <img src="img/shield-footer.jpg" alt="phone">
                HANFA regulirano
            </a>

            <a href="privacy.html" class="contact-part round text-purple">
                <img src="img/policy-yellow.jpg" alt="phone">
                Pravila privatnosti
            </a>
        </div>
    </div>

    <div id="rights">
        <p>Osiguraj.hr © 2006.-2025. Sva prava pridržana</p>

        <p>Distribuciju osiguranja 
omogućuje posrednik u osiguranju MAKSI MIRO d.o.o. za zastupanje u osiguranju. 
HANFA Datum dozvole za rad 20.07.2006., Klasa dozvole za rad UP/ 
I-453-06/06-02/455 </p>
    </div>

</footer>