<head>
    <link rel="stylesheet" href="css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer class="text-white">

    <div id="footer-info">

        <div class="footer-segment">
            <p class="card-title">[Osiguraj.hr]</p>

            <p>Vaš pouzdan partner za najpovoljnije auto osiguranje. Brzo, jednostavno i digitalno.</p>
            <div id="socials">
                <a href="https://www.instagram.com/osiguraj_hr?igsh=aWFrbzRhZXBld2pt&utm_source=qr"> <img src="img/instagram.png" alt="instagram"> </a>
                <a href="https://web.facebook.com/profile.php?id=61586831552294"> <img src="img/facebook.png" alt="facebook"></a>
                <a href="https://www.linkedin.com/company/osigurajhr/"> <img src="img/linkedin.png" alt="linkedin"></a>
                <a href="https://www.tiktok.com/@osiguraj.hr?_r=1&_t=ZN-93EkOQL0w0U"> <img src="img/tiktok.png" alt="tiktok"></a>
            </div>
        </div>
        
        <div class="footer-segment">
            <p class="card-title">Kontakt</p>
            <a href="https://www.google.com/maps/search/?api=1&query=Bo%C5%BEidarevi%C4%87eva+ulica+13%2C+10000+Zagreb%2C+Hrvatska" target="_blank" class="contact-link">
                <div class="contact-part">
                    <img src="img/loaction.jpg" alt="location">
                    <p>Božidarevićeva ulica 13, 10000 Zagreb, Hrvatska</p>
                </div>
            </a>
            <a href="tel:+38598813220" class="contact-link">
                <div class="contact-part">
                    <img src="img/phone.jpg" alt="phone">
                    <p>+385 98 813 220</p>
                </div>
            </a>
            <a href="oNama.html"  class="contact-link">
                <div class="contact-part">
                    <img src="img/health-footer.jpg" alt="phone">
                    <p>O nama</p>
                </div>
            </a>
        </div>
        
        <div class="footer-segment">
            <p class="card-title">Povjerenje</p>
            <a href="https://www.hanfa.hr/registri/trziste-osiguranja/drustva-za-zastupanje-u-osiguranju/">
            <div class="contact-part round">
                <img src="img/shield-footer.jpg" alt="phone">
                <p>HANFA regulirano</p>
            </div></a>

            <a href="privacy.html">
            <div class="contact-part round">
                <img src="img/policy-yellow.jpg" alt="phone">
                <p>Pravila privatnosti</p>
            </div></a>
        </div>
    </div>

    <div id="rights">
        <p>Osiguraj.hr © 2006.-2025. Sva prava pridržana</p>

        <p>Distribuciju osiguranja 
omogućuje posrednik u osiguranju MAKSI MIRO d.o.o. za zastupanje u osiguranju. 
HANFA Datum dozvole za rad 20.07.2006., Klasa dozvole za rad UP/ 
I-453-06/06-02/455 </p>
    </div>

</footer>