<head>
    <link rel="stylesheet" href="css/nav.css">
</head>
<nav id="main-nav">
    <div class="width-container row">
        <a href="index.html"> <img src="img/logo.jpg" alt="logo" id="logo" fetchpriority="high"></a>
        <div class="row gap">
            <a href="o-nama.html" class="background-purple-light round pad-s text-purple desktop-only">O nama</a>
            <a href="tel:+38598813220" id="phone-number"><div id="green-dot"></div>+ 385 98 813 220 </a>
        </div>
    </div>
</nav>