<!DOCTYPE html>
<html lang="hr">
<head>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TPNZZVZ5');</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }} | Osiguraj.hr</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/post.css' | relative_url }}">
    <link rel="icon" type="image/jpeg" href="{{ '/img/favicon.jpg' | relative_url }}">
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPNZZVZ5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% include nav.html %}

    <div class="margin-top-100"> </div>

    <main class="width-container-1000 text-white pad round">
        <article class="post-content">
            {{ content }}
        </article>
    </main>

    <div class="margin-top-100"> </div>

    {% include wapp.html %}
    {% include footer.html %}
</body>
</html>
